.heading {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
}

.transitionWrapper {
  .enter {
    margin: -80px 10px 0;
  }
  .enterActive {
    margin: 0 0 30px;
    transition: 200ms ease-in;
  }
  .exit {
    height: 70px;
    opacity: 1;
    margin: 0 0 30px;
  }
  .exitActive {
    height: 0;
    opacity: 0;
    margin: -35px 0 30px;
    transition: 200ms ease-in;
  }
}

.item {
  $height: 50px;
  margin-bottom: 30px;
  .form {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    * {
      height: 100%;
    }
    .input {
      width: 100%;
    }
    button {
      min-width: 50px;
    }
  }
}
