@import '../../../../../scss/variables';

.changeLocaleButton {
  display: flex;
  justify-content: center;
  font-size: 30px;
  line-height: 30px;
  border: solid $text-color 2px;
  background-color: white;
  transition: 0.2s ease-out;
  width: 50px;
  height: 40px;
  &:hover {
    background: darken(white, 5%);
  }
  &:active {
    background: white;
    font-size: 0;
    transition: 0.1s ease-in;
  }
}
